@model IEnumerable<mfdev_backend_2023.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<div class="container">
    <h1 class="text-center">Usuários</h1>

    <p class="text-center">
        <a asp-action="Create" class="btn btn-success">Adicionar novo usuário</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered mx-auto" style="max-width: 80%;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Perfil)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => usuario.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => usuario.Perfil)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-warning me-2" asp-action="Edit" asp-route-id="@usuario.Id">Editar</a>
                                <a class="btn btn-primary me-2" asp-action="Details" asp-route-id="@usuario.Id">Visualizar</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@usuario.Id">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

