@model IEnumerable<mfdev_backend_2023.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #f8f9fa; /* Fundo claro para um visual limpo */
    }

    h1 {
        color: #343a40; /* Texto escuro para o título */
        text-align: center; /* Centraliza o título */
        margin-bottom: 30px; /* Espaçamento abaixo do título */
    }

    .table {
        margin: auto; /* Centraliza a tabela */
        width: 80%; /* Define a largura da tabela */
    }

    .btn {
        margin: 5px; /* Espaçamento entre os botões */
    }
</style>

<h1>Lista de Veículos</h1>

<div class="text-center mb-3">
    <a asp-action="Create" class="btn btn-success">Adicionar Novo Veículo</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AnoModelo)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Relatorio" asp-route-id="@item.Id">@item.Nome</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoFabricacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoModelo)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
