@model IEnumerable<mfdev_backend_2023.Models.Consumo>

@{
    ViewData["Title"] = "Relatorio";
}

<h1 class="text-center">Relatorio do veiculo: @ViewBag.Veiculo.Nome</h1>
<h3 class="text-center">Valor total: @ViewBag.Total</h3>

<table class="table table-secondary">
    <!-- Adicionando a classe table-secondary -->
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Descricao)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Data)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Km)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Valor)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Tipo)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Veiculo.Placa)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consumo in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Descricao)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Data)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Km)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Valor)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Tipo)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => consumo.Veiculo.Placa)</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group text-center">
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
